<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask</title>
</head>
<body>
    <body>
        <form action="/result" method = "POST"> <!-- defines onClick redirect route, method of request --> 
            <input type = "text" name = "Name"> <!-- name="Name" is used in flask to fetch input using request.form --> 
            <input type = "submit" name = "submit"> <!-- submit event --> 
            <h2>Polarity: {{ result }}</h2> <!-- {{ }} represent jinja template variable. result is passed an an argument while rendering template --> 
        </form>
</body>
</html>